*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;

}
.heading{
    background-color:#434172;
    width: 100%;
    height: 117px;
    margin: 0px auto;
}
.heading_nav{
    width: 100%;
    height: 30px;
}
.heading_logo{
    margin-left: 190px;
    margin-top: 12px;
    float: left;
    width: 279px;
    height:153px;
}
.heading_navbar{/*通过width和right改位置*/
    /*background-color: black;*/
    float:left;
    width: 950px;
    height: 25px;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-right: 20px;
    text-align: right;
    font-size: 24px;

}
ul{
    /*background-color: black;*/
    list-style-type: none;
    width: 378px;
    float: right;
}
li{
    padding-left: 5px;
    display: inline;
}
a:link,a:visited{

    color: #e7e7e9;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
a:active,a:hover{
    color: #b7acad;
    text-align: center;

}
.table_heading{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 50px;
}
table{
    margin: auto auto;
}
.body{
    background-color: white;
    width: 75%;
    height: 1000px;
    margin:50px auto;
    border-style: groove;
    border-width: 1px;
    border-color: #fff9ea;

}
.footing{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    height:100px;
    width:80%;
    border-top-color: #ebeef0;
    border-top-style: groove;
    border-top-width: 1px;
}